.env
.env.dusk
.env.dusk.local
.env.production
.env.staging
.phpunit.result.cache
/.idea
/.php-cs-fixer.cache
/.phpunit.report.xml
/.phpunit.cache
/.vscode
/coverage.cobertura.xml
/node_modules
/public/build
/public/hot
/public/sitemap_frontend.xml
/public/storage
/reports
/storage/*.key
/storage/app_images
/storage/tests
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
